@import "~react-image-gallery/styles/css/image-gallery.css";

.home-wrapper {
  width: 100%;
}

.home-wrapper .hero-section {
  position: relative;
  overflow: hidden;
  height: 80vh;
  width: 100%;
}

.home-wrapper .hero-section img {
  position: absolute;
  width: 100%;
  object-fit: cover;
}

.home-wrapper .hero-section .info {
  position: relative;
  width: 50%;
  text-align: center;
  display: flex;
  flex-direction: column;
  top: 50%;
  left: 25%;
  transform: translateY(-50%);
}

.home-wrapper .hero-section .info span {
  font-size: 24px;
}

.home-wrapper .hero-section .info a {
  width: 140px;
  align-self: center;
  margin-top: 10px;
}

.home-wrapper .hero-section .info a button {
  width: 100%;
  font-family: -apple-system, BlinkMacSystemFont, "Ubuntu Mono", "Ubuntu",
    "Segoe UI", "Roboto", "Oxygen", "Cantarell", "Fira Sans", "Droid Sans",
    "Helvetica Neue", sans-serif;
  background-color: var(--btn-color-primary);
  border: none;
  padding: 20px;
  border-radius: 5px;
  font-size: 20px;
  transition: all 0.3s ease-in-out;
}

.home-wrapper .hero-section .info a button:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

.home-wrapper .image-gallery {
  margin: 20px 0;
}

@media (max-width: 900px) {
  .info {
    width: 80% !important;
    left: 10% !important;
  }
  .hero-section {
    height: 450px !important;
  }
  .image-gallery {
    margin: 0 !important;
  }
}

@media (max-width: 768px) {
  .hero-section {
    height: 200px !important;
  }
  .info {
    width: 80% !important;
    left: 10% !important;
  }
  .info span {
    font-size: 14px !important;
  }
  .image-gallery {
    margin: 0 !important;
  }
}
