.socials {
  display: flex;
  justify-content: center;
  align-items: center;
}

.socials a {
  font-size: 32px;
  display: flex;
  align-items: center;
  color: var(--font-color-secondary);
  transition: all 0.3s ease;
}

.socials a:hover {
  color: var(--font-color-tertiary);
}