* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  --bg-primary: #fff;
  --bg-secondary: #587cc8;
  --bg-tertiary: #4cc5e0;
  --font-color-primary: #000;
  /* second font color should only be used on second bg color */
  --font-color-secondary: #f79210;
  --font-color-tertiary: #fcd204;
  --btn-color-primary: #80cd29;
  --btn-color-hover: #5a901d;
}

button {
  background-color: var(--btn-color-primary);
  border: none;
  transition: all 0.3s ease;
}

button:hover {
  background-color: var(--btn-color-hover);
  cursor: pointer;
}

/* link styles need to stay in this order */

a {
  text-decoration: none;
}
