* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  color: var(--font-color-primary);
  --bg-primary: #fff;
  --bg-secondary: #587cc8;
  --bg-tertiary: #4cc5e0;
  --font-color-primary: #000;
  /* second font color should only be used on second bg color */
  --font-color-secondary: #80cd29;
  --btn-color-primary: #f79210;
  --btn-color-hover: #fcd204;
}
